    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Teeth and Smiles Clinic</h2>
                    <p>Your Family Dentist</p>
                    <a href="https://www.google.com/maps/place/Emmanuel+Arcade/@9.9143674,76.3616025,17z/data=!3m1!4b1!4m5!3m4!1s0x3b087310c5bcf58b:0x5fabdc895c90a147!8m2!3d9.9143621!4d76.3637912" class="btn btn-default btn-lg">Visit Us</a>
                </div>
            </div>
        </div>
    </section>